@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
 
}

:root {
  /* (main background) */
  --Very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  /* (accent) */
  --Soft-violet: hsl(277, 64%, 61%);

  /* (main heading, stats) */
  --White: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6;);
}

body {
  background-color: var(--Very-dark-blue);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-box {
  background-color: var(--Dark-desaturated-blue);
  width: 340px;
  border-radius: 0.6rem;
  overflow: hidden;
}
.img {
  background-image: url(images/image-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  
}
.img-box {
height: 260px;
background-color: hsl(277, 93%, 23%);
}


.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-content h1{
 text-align: center;
   width:82%;
  font-size: 28.5px;
   letter-spacing: 1px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: hsl(0, 0%, 100%);
}
span{
    color:var(--Soft-violet)
}

.text-content p{
    text-align: center;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.4rem;
    width: 78%;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    margin-bottom: 2.5rem;
    letter-spacing: .6px;
}

.numbers-box p{
   text-transform: uppercase;
   text-align: center;
   color: hsla(0, 0%, 100%, 0.6);
   font-family: "Inter", sans-serif;
   font-weight: 300;
   font-size: 14px;
   margin: .6rem 0 2.3rem 0;
}

.numbers-box h2{
    text-align: center;
    color: hsl(0, 0%, 100%);
}



@media (min-width: 480px){
 
    .container-box {
        display: flex;
        flex: 1fr ;
        flex-flow: row-reverse;
      width: 1050px;
      height: 460px;
     
       
    }
    .img {
        width: 100%;
        height:100%;
       object-fit: contain;
       background: none;
       background-color: hsl(277, 100%, 50%);

    }
    .img-box {
        background-image: url(images/image-header-desktop.jpg);
       width: 100%;
       height:100%;
        background-size:cover;

        background-position: center;
    

        }

    .text{
        padding:1.5rem 0 0 0;
        align-items: left;
        font-size: 15px;
    }
     .text-content h1{
       text-align: left;
       width: 80%;
       line-height: 2.5rem;
       font-size: 32px;
       letter-spacing: 1.5px;
     }  
     span{
         letter-spacing: normal;
     }
     .text-content p{
        text-align: left;
        width: 80%;
        margin-top: .8rem;
        line-height: 1.5rem;
      }  
     .numbers-box{
         display: flex;
         width: 80%;
         padding-left: 3rem;
         justify-content: space-between;

     }
     .numbers-box h2{
        text-align: left;
    }
    
    .numbers{
        margin-top: 2rem;
    }
}

